body {
    background-color: #b3abab;
    font-family: Arial, Helvetica, sans-serif;
    width: 700px;
    margin: auto;
}

img {
    display: block;
    margin: auto;
}

figure img {
    border-radius: 50%;
}

ul li a {
    text-decoration: none;
    display: inline-block;
}

ul li {
    margin-bottom: 10px;
}