html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

/* INDEX STYLING*/
#index-body {
    background-color: #b3abab;
    padding: 30px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    padding-left: 150px;
    padding-top: 40px;
}

#index-nav ul li a{
    display: inline-block;
    width: 250px;
    background-color: #063418cc;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 20px;
    border: 5px solid #310a0a;
    text-decoration: none;
    margin-bottom: 8px;
}

/* MOVIES STYLING */
#movie-body {
    height: auto;
    background-color: darkgrey;
    padding: 30px;
}
section ul li p a {
    color: #ffffff;
    text-decoration: none;
    margin: 1px;
    font-family: Arial, Helvetica, sans-serif;
}
#movie-grid {
    padding: 30px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Exactly 3 columns */
    gap: 10px;
    justify-content: center;
    text-align: center;
    list-style: none;
}
header ul li {
    list-style-image: url('../images/home.png');
}
footer p a {
    text-decoration: none;
    font-weight: bold;
}
header p a {
    text-decoration: none;
    font-weight: bold;
}

/*MUSIC STYLING*/

/*TV SHOWS STYLING*/

/*VIDEO GAMES STYLING*/

