html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

header ul li {
    list-style-image: url('../images/home.png');
}

header p a {
    text-decoration: none;
    font-weight: bold;
}

body{
    background-color: #b3abab;
    margin: auto;
    padding: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    /*padding: 10;*/
    width: fit-content;
    margin-left: 100px;
}

nav ul li a {
    display: inline-block;
    width: 250px;
    background-color: #063418cc;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 50px;
    padding: 20px;
    border: 5px solid #310a0a;
    text-decoration: none;
    margin-bottom: 5px;
}

ul .sublist {
    margin-left: auto;
    padding: 0;
}

ul .sublist li a {
    width: 160px; /*leave this width*/
    margin-left: auto;
    padding-right: 10px;
}

#pictureofme {
    float: right;
    top: 100px;
    right: 300px;
    border-radius: 75%;
}

.container {
    position: relative;
    height: 100%;
}

